

.contenedor {
	width: 90%;
	max-width: 1000px;
    margin: auto;
    overflow: hidden;
   
    
}

 
.acerca-de {
     text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
.acerca-de .foto {
    margin-top: 0px;
    border-radius: 10px;
    z-index: 1;

   
 }
 
.acerca-de .foto img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
 
 
.acerca-de .texto {
     color: #5a5a5a;
     font-weight: 600;
     font-size: 1em;
     line-height: 30px;
     width: 90%;
     margin: 40px auto 60px auto;
   }
   
 .main .acerca-de .texto .titulo {
     font-size: 34px;
     line-height: 34px;
     margin-bottom: 40px;
     font-weight: 600;
     color: #3c38c3;
     text-align: center;
   }
 
 .acerca-de .texto .bold {
    color: #3895ea;
    text-decoration: underline;
   }
 